<div class="page-header">
  <%= link_to hosts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_host_path(@host), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show host</h1>
</div>

<dl class="dl-horizontal">
  <dt>Host Name:</dt>
  <dd><%= @host.name %></dd>

  <dt>Link to event host website:</dt>
  <dd><%= @host.web_link %></dd>

  <dt>Marketing information:</dt>
  <dd><%= @host.market_info %></dd>

</dl>
