  <div class="container">
    <div class="jumbotron">
      <section id="about">
          <div class="container-fluid">
              <div class="row text-center">
                  <div class="col-lg-12 wow fadeIn">
                    <div class="well">

                      <h1><%= @event.event_name %></h1>
                      <p><%= @event.event_info %></p>
                      <hr class="colored">
                    </div>
                  </div>
              </div>
              <div class="row text-center content-row">
                <div class="container">
                  <%= link_to "Please Check out our Site", @event.web_link, class: "btn btn-primary" %>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8OX-x5j2N4E" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <span class="btn btn-primary demo">GRAB PHOTO</span>
              </div>
          </div>
      </section>
    </div>
    <div class="well">
      <section>
        <div class="container text-center wow fadeIn">
          <h2>Photos</h2>
          <hr class="colored">
            <div class="row">
              <div class="col-lg-12">
                <div id="portfoliolist">
                  <% @event.photos.each do |photo| %>
                    <% if photo.image_data %>
                      <div class="portfolio">
                        <div class="portfolio-wrapper">
                          <%- if user_logged_in? %>
                          <span data-event-id="<%= @event.id %>" data-photo-id="<%= photo.id %>" class="favorite-photo fa fa-star <%= favorited_class(photo, current_user) %>" aria-hidden="true" style="padding-left:320px;"></span>
                          <% end %>
                          <%= image_tag(photo.image_url(:medium), class: "medium") %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </section>


      <section class="wander-click">
        <div class="row">
          <div class="container text-center">
            <div class="col-md-4 wander-links">
              <h4><i class="fa fa-sign-out"></i><%= link_to "New Photo", new_event_photo_path(@event) %></h4>
            </div>
            <div class="col-md-4 wander-links">
                <h4><i class="fa fa-envelope"></i><%= link_to "Get Photos", send_mail_path %></h4>
            </div>
            <div class="col-md-4 wander-links">
              <h4><i class="fa fa-sign-out"></i><%= link_to logout_path, data: { confirm: 'Are you sure?' } do %> Sign Out</h4><% end %>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
